@{
    Bundles.Reference("Public/CSS");
    @*Bundles.Reference("Public/CSS/blueprint");
    Bundles.Reference("Public/CSS/blueprint/plugins");*@
    Bundles.Reference("Public/JavaScript/External");
    Bundles.Reference("Public/JavaScript");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()
</head>
    <body>
        <header>
            <div id="menu" class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="/">Maguma</a></p>
                </div>
                <div id="debug-spa-check-counter" class="debug-only debug-big">only for debug</div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Another page", "Index", "Elsewhere")</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-edge"></div>
        </header>
        <div id="core">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year</p>
                </div>
                <div class="float-right">
                </div>
            </div>
        </footer>
    </body>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $debug.startGlobalTicker($("#debug-spa-check-counter"));
            $setupHistory.init(window, "#core", "#menu");
        });
    </script>
</html>